*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    
}

.card{
    width:90%;
    max-width:470px;
    background:linear-gradient(135deg,rgb(24, 114, 137),rgb(117, 85, 135));
    margin: 100px auto 0;
   color:white;
    border-radius: 16px;
    text-align: center;
    padding:40px 35px;
}
.search{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
}
.search input{
    flex:1;
    height:50px;
    border-radius: 12px;
    padding:10px 25px;
    border:0;
    outline:0;
    margin-right:15px;
    font-size:16px;
    color:black;
}
.search button{
    border:0;
    outline:0;
    height:60px;
    width:60px;
    border-radius: 50%;
    background:white;
    flex-wrap:wrap;
    cursor:pointer;
    
}
.search img{
    width:16px;
    margin-top: 3px;
}
.weather-icon{
    width:200px;
    margin-top:15px;
}
.weather h1{
    font-size:80px;
    font-weight:500px;
    
}
.weather h2{
    font-size:70px;font-weight:400px;
    margin-top:-12px;
}
.details{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 20px;
    margin-top:50px;


}
.col{
    display:flex;
    align-items:center;
    text-align:left;
   
    
}
.col img{
    width:45px;
    margin-right:10px;
}
.humidity,.wind{
font-size:28px;
  
}
.weather{
    display: none;
}
.error{
    color:red;
    text-align: left;
    margin-left:12px;
    font-size:16px;
  
    padding-top:2px;
    display:none;
}

